@import "tailwindcss";

html {
    scroll-behavior: smooth;
  }

  section {
    scroll-margin-top: 96px;
  }

  @media (max-width: 768px) {
    body {
      padding-bottom: 96px;
    }
  }

  :root {
    --light-bg: #F4F8F9;
    --dark-bg: #033347;
    --button-blue: #298E9E;
    /* --text-yellow: #d19132; */
  }